.header-container {
  text-align: center;
  color: white;
}
.header-container p {
  font-size: 1.2rem;
}
.header-container span {
  font-weight: 700;
  font-size: 1.4rem;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.square {
  width: 120px;
  height: 120px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px black;
  cursor: pointer;
  background-color: #ffffff3f;
}
.square_o {
  background-color: rgb(130, 212, 7);
}
.square_x {
  background-color: crimson;
}
.reset-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.reset {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.178);
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem;
  cursor: pointer;
  color: white;
  transition: transform 0.5s;
}
.reset:hover {
  transform: scale(110%);
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
