.header-container {
  text-align: center;
}
.header-container p {
  font-size: 1.2rem;
}
.header-container span {
  font-weight: 700;
  font-size: 1.4rem;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.square {
  width: 120px;
  height: 120px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px black;
  cursor: pointer;
}
.square_o {
  background-color: rgb(130, 212, 7);
}
.square_x {
  background-color: crimson;
}
.reset-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.reset {
  font-size: 1.5rem;
  background-color: deepskyblue;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem;
  cursor: pointer;
  color: white;
}
